body {
  font-family: Helvetica, Arial;
  margin: 0 2em 1em 2em;
}
code, pre {
  font-family: monospace;
}

pre {
  padding: .5em;
  background-color: #111;
  color: #9f9;
  font-size: 90%;
  line-height: 110%;
}
code {
  background-color: #dfd;
  color: #000;
}
pre code
{
  background-color: #111;
  color: #9f9;
}
em
{
  font-style: none;
  font-weight: bold;
}

h1, h2, h3, h4
{
  font-weight: normal;
}
h2
{
  border-bottom: 1px solid #999;
  padding: 3px 0px;
}

ul
{
  padding: 0;
  margin: 0;
}
li
{
  list-style-position: outside;
}
li p
{
  margin: .3em 0;
}
li li
{
  margin-left: 1em;
}

#nav
{
  padding: .5em 1em;
  background-color: #000;
}
#nav a
{
  margin-right: 1em;
  color: #fff;
  text-decoration: none;
}
#nav a:hover
{
  color: #dfd;
}