@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Semibold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-Italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  font: 14px/19px "OpenSans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a {
  color: #ec497c;
}

h1,h2,h3,h4,h5 {
  font-weight: normal;
}

h1 {
  color: #404041;
  margin: 40px 0 20px 0;
}

h1 img {
  vertical-align: middle;
}

h2 {
  margin: 60px 0 10px 0;
  font-size: 22px;
  line-height: 34px;
}

h3 {
  margin-top: 30px;
}

#header {
  padding-left: 10px;
}

#logo, #logo img {
  padding-top: 5px;
  width: 125px;
}

#container {
  max-width: 1000px;
  padding: 0 50px 20px 0;
  margin: 0 auto;
}

#nav {
  width: 150px;
  position: fixed;
  padding: 0 0 0 50px;
}
#nav h2 {
  font-size: 16px;
  line-height: 19px;
  margin: 20px 0 5px 0;
}
#nav ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

#version_switch li {
  display: inline;
  list-style-type: none;
}

#version_switch li a{
  display: inline;
}

#version_switch li:after{
  content: "|";
}

#version_switch li:last-child:after{
  content: "";
}

#nav ul li {
  font-size: 16px;
  line-height: 24px;
}

#nav a {
  display: block;
  color: #5e8b31;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

#nav a.current{
  background: #a1cc57;
}

#nav a.back {
  background: #5e8b31;
  color: #fff;
}

#logo a:hover{
  background:none;
}

#content{
  padding-left: 240px;
}

#content img{
  width: 550px;
  max-width: 100%;
}

#markdown-toc{
  padding-left: 30px;
}

#markdown-toc li{
  list-style-type: lower-roman ;
}

#footer {
  margin: 40px 0 20px 0;
  color: #000;
}

#footer a {
  color: #000;
}

#footer .copyright {
  clear: both;
  font-size: 11px;
  padding: 5px 0 10px 0;
}

#footer .columns.four {
  font-size: 85%;
}

#footer .columns.four .column {
  width: 25%;
  float: left;
}

#footer .columns.four .column h3 {
  margin: 10px 0 5px 0;
}

#footer .columns.four .column ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.note {
  padding: 10px 20px;
  background: #ffe;
  color: #3d3d13;
}

.note.warning{
  background: #FFEAAD;
}

.note a {
  font-weight: bold;
  color: #000 !important;
}

.note p {
  margin: 0;
}

.note h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 5px;
}

.tabs .selector {
  margin-left: 15px;
}

.tabs .selector > div {
  float: left;
  cursor: pointer;
  padding: 2px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid #eaeaea;
  border-bottom: 2px solid #eaeaea;
  position: relative;
  margin: 0 3px -2px 0;
  background: #fff;
  color: #888;
}

.tabs .selector > div.active {
  background: #f9f9f9;
  color: #444;
  border-bottom: 2px solid #f9f9f9;
}

.tabs .tab {
  display: none;
  clear: both;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #eaeaea;
  background: #f9f9f9;
}

.tabs .tab.active {
  display: block;
}

.coming-soon:after{
  content: "soon";
  background: #fedbe9;
  padding: 0 4px;
  border-radius: 5px;
  color: #e64382;
  margin-left: 5px;
  font-size: 10px;
  line-height: 11px;
}

#migration-guide{
  border: 1px solid #5e8b31;
  border-radius: 3px;
}

#migration-guide h2{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
  padding: 5px;
  background: #a1cc57;
}

#migration-guide .note{
  margin-top: 0;
  margin-bottom: 0;
}

#migration-guide section{
  padding: 5px;
}

#migration-guide section h3:first-child{
  margin-top: 10px;
}

#migration-guide table{
  margin: auto;
}

#migration-guide table tr td:first-child{
  min-width: 10em;
  vertical-align: top;
}


/* "http block" example styling */

.headers{
  margin-bottom: 0px;
}

.headers > code {
  border-radius: 5px 5px 0px 0px;
  background: #F0EEEE;
  border-bottom: 0px;
}

.headers + .highlight{
  margin-top: 0px;
}

.headers + .highlight > code{
  border-radius: 0px 0px 5px 5px;
}

/* default syntax highlighting */
code {
  font-family: Inconsolata, Consolas, monospace;
  white-space: pre;
  background: #f0f0f0;
}
code.sh {
  white-space: normal;
}
.tab pre > code {
  background: #fff;
  border: 2px solid #eaeaea;
}
pre > code, pre.terminal {
  display: block;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #eaeaea;
  background: #f9f9f9;
  overflow: auto;
}
pre > code.sh {
  background: #feeeee;
  border: 2px solid #feeeee;
}
.hll { background-color: #ffffdd }
.c { color: #888888 } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #008800; font-weight: bold } /* Keyword */
.cm { color: #888888 } /* Comment.Multiline */
.cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.c1 { color: #888888 } /* Comment.Single */
.cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #303030 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #606060 } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008800 } /* Keyword.Pseudo */
.kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.kt { color: #888888; font-weight: bold } /* Keyword.Type */
.m { color: #0000DD; font-weight: bold } /* Literal.Number */
.s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.na { color: #336699 } /* Name.Attribute */
.nb { color: #003388 } /* Name.Builtin */
.nc { color: #bb0066; font-weight: bold } /* Name.Class */
.no { color: #003366; font-weight: bold } /* Name.Constant */
.nd { color: #555555 } /* Name.Decorator */
.ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.nf { color: #0066bb; font-weight: bold } /* Name.Function */
.nl { color: #336699; font-style: italic } /* Name.Label */
.nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.py { color: #336699; font-weight: bold } /* Name.Property */
.nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.nv { color: #336699 } /* Name.Variable */
.ow { color: #008800 } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.bp { color: #003388 } /* Name.Builtin.Pseudo */
.vc { color: #336699 } /* Name.Variable.Class */
.vg { color: #dd7700 } /* Name.Variable.Global */
.vi { color: #3333bb } /* Name.Variable.Instance */
.il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
.hll *[class^=s] { background-color: inherit }
