<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Freckle API: <%= @item[:title] %></title>
  <link rel="stylesheet" href="/assets/v1/stylesheet.css" type="text/css">
  <meta name="description" content="<%= @item[:description] %>">
</head>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W7NHRF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WKPP62');</script>
<!-- End Google Tag Manager -->

<body>
  <div id="nav">
    <div>
    <a href="http://letsfreckle.com" class="back">&larr; Freckle</a>
    <a href="index.html">API Basics</a>
    <a href="entries.html">Entries</a>
    <a href="projects.html">Projects</a>
    <a href="tags.html">Tags</a>
    <a href="users.html">Users</a>
    </div>
  </div>

  <div id="content">
    <h1><img id="logo" src="/assets/freckle.svg" alt="Freckle"> API: <%= @item[:title] %></h1>

    <%= yield %>
  </div>

  <div id="footer">
    <div>

    <div class="columns four">
      <div class="column">
        <h3>About Freckle</h3>
        <ul>
          <li><a href="http://letsfreckle.com/manifesto">The Freckle manifesto</a></li>
          <li><a href="http://letsfreckle.com/plans/"> Freckle plans and pricing</a></li>
          <li><a href="http://letsfreckle.com/terms/">Our user agreement</a></li>
          <li><a href="http://letsfreckle.com/privacy/">Privacy policy</a></li>
        </ul>
      </div>

      <div class="column">
        <h3>Us &amp; our company</h3>
        <ul>
          <li><a href="http://letsfreckle.com/team/">Meet our team</a></li>
          <li><a href="http://letsfreckle.com/blog/">Read our blog about Freckle</a></li>
          <li><a href="http://letsfreckle.com/contact/">Write us</a></li>
        </ul>
      </div>

      <div class="column">
        <h3>Docs</h3>
        <ul>
          <li><a href="http://letsfreckle.com/help/">FAQs</a></li>
          <li><a href="http://letsfreckle.com/quick-start">Quick Start Guide</a></li>
          <li><a href="http://developer.letsfreckle.com">API Documentation</a></li>
        </ul>
      </div>

      <div class="column">
        <h3>You &amp; your account</h3>
        <ul>
          <li><a href="http://letsfreckle.com/help/accounts/">How to sign in</a></li>
          <li><a href="http://letsfreckle.com/help/">Get help &amp; contact support</a></li>
        </ul>
      </div>

    </div>

    <div class="copyright">
      &copy; 2008-2014 Slash7 LLC, all rights reserved.
    </div>
    </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <script>
    $(function(){
      function setTabs(to){
        // change all tabs on page to value
        var tabs = $('.tabs')
        tabs.find('.selector DIV').removeClass('active')
        tabs.find('.selector DIV.'+to).addClass('active')
        tabs.find('.tab').removeClass('active')
        tabs.find('.tab.'+to).addClass('active')

        // change tabs that don't have an active tab to show first tab
        tabs.find('.selector').each(function(){
          if ($(this).find('DIV.active').length > 0) return

          console.log(this)
          $(this).find('DIV').first().addClass('active')
          $(this).closest('.tabs').find('.tab').first().addClass('active')
        })

        // save for later
        localStorage && (localStorage.dataFormat = to)
      }

      $('.tabs .selector div').on('click', function(){
        setTabs($(this).attr('class'))
      })

      setTabs(localStorage ? (localStorage.dataFormat || 'json') : 'json')
    })
  </script>

  <script>
    (function() {
      window._pa = window._pa || {};
      var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
      pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/  serve/51fbcda0dc91ad725f0000eb.js";
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
    })();
  </script>

    <script>
  var __CHARM = {"key":"g3gwo8hllujjbwaz14qlfeeqdefgt3k"};
  </script>
  <script async src="https://secure.letsfreckle.com/help/help.js"></script>
</body>
</html>
